@model MG_Model.CodeHandle.Assets.PageInfor<MG_Model.EF.User>     

   <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Real name</th>
                                            <th>Email</th>
                                            <th>DateCreate</th>
                                            <th>DateUpdate</th>
                                            <th>GroupID</th>
                                            <th>Status</th>
                                            <th>Edit|<br />Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model.ItemProduct)
                                {                
                                        <tr id="@i.id">
                                            <td>@i.id</td>
                                            <td>@i.username</td>
                                            <td>@i.password</td>
                                            <td>@i.realName</td>
                                            <td>@i.email</td>
                                            <td>@i.dateCreate.Value.ToShortDateString()</td>
                                            <td>@(i.dateUpdated!=null?i.dateUpdated.Value.ToShortDateString():"")</td>
                                            <td>@i.GroupId</td>
                                            <td>@(i.Status==true?"Actived":"Disabled")</td>
                                            <td>
														<div class="hidden-sm hidden-xs btn-group">
															<button class="btn btn-xs btn-success" >
																<i class="ace-icon fa fa-check bigger-120"></i>
															</button>

															<button class="btn btn-xs btn-info" onclick="_filldataUser(@i.id)"  data-toggle="modal" data-target="#editUser">
																<i class="ace-icon fa fa-pencil bigger-120"></i>
															</button>

															<button class="btn btn-xs btn-danger" onclick="_deleteUser(@i.id)">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</button>
														</div>
													</td>
                                        </tr>     
                                }
                                 </tbody>
                      </table>
                        Trang:@Model.CurrentPage
                        @{var inc = Model.CurrentPage + 1;var des = Model.CurrentPage - 1;}
                    <a href="javascript:_pageUserla(@inc)" >&raquo;</a>
                            @for (var i = 1; i <=@Model.pageCount;i++ )
                            {
                                <a href="javascript:_pageUserla(@i)" >@i</a>
                            }
                    <a href="javascript:_pageUserla(@des)" >&laquo;</a>
