@model MG_Model.CodeHandle.Assets.PageInfor<MG_Model.EF.Products>
<div>
      @foreach (var i in Model.ItemProduct)
                                  {
                                            <div class="col-sm-3 cusxx">
										        <div class="product-image-wrapper">
											        <div class="single-products">
													        <div class="productinfo text-center">
														        <img src="@i.image_large" alt="@i.alt"/>
													        <h2>Giá:<span>@i.price &#8363;</span></h2>
													        <a href="/chi-tiet/@i.metaNameProduct"><h2><span>@i.nameProduct </span></h2></a><br />
                                                                <input type="hidden" id="quarity" value="1">
                                                            <button type="button" class="btn btn-fefault cart"  data-toggle="modal" 
                                                                data-target="#AddItems" onclick="addProduct(@i.id,'@i.nameProduct','@i.metaNameProduct','@i.codeProduct','@i.image_large',@i.price)"><i class="fa fa-shopping-cart" ></i>
										                    Add to cart
									                    </button>
												        </div>
												       @* <img src="/Galery/galery/new.png" class="new" alt="" />*@
											        </div>
										        </div>
                                        </div>
                                    }
                    
                                        @{
                                            var next = @Model.CurrentPage + 1;
                                            if (next == @Model.pageCount) next = 1;
                                            var pre = @Model.CurrentPage - 1;
                                            if (pre == 0) pre = @Model.pageCount-1;
                                            }
         <div class="row">


               Trang:@Model.CurrentPage: 
                                         <ul class="pagination">
                                                 <li><a href="javascript:getpage(@pre)">&laquo;</a></li>
							                     @for ( var i = 1; i <=Model.pageCount; i++)
                                                    {	
							                            <li><a href="javascript:getpage(@i)" >@i</a></li>
                                                    }   
							                    <li><a href="javascript:getpage(@next)">&raquo;</a></li>
					                    </ul>
            </div>
</div>
          